table {
    width: 100%;
  }

  .hide{
      display:none;
  }

  mat-footer-row mat-footer-cell{
      justify-content: center;
      font-style: italic;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .edit{
      cursor: pointer;
  }