<div class="container">
    <h1>Shopping Cart</h1>
    <div class="row col-8" *ngIf="cart$ | async as cart">
        <p>
            You have {{cart.totalItemsCount}} items in your shopping cart.
            <button *ngIf="cart.items.length" (click)="clearCart()" class="btn btn-light btn-sm">
                Clear Shopping Cart
            </button>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th class="text-center" style="width:230px">Quantity</th>
                    <th class="text-center" style="width:230px">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items">
                    <td style="width:120px"> 
                        <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail"></div>
                    </td>
                    <td>{{item.title}}</td>
                    <td>
                        <app-product-quantity [product]="item" [shopping-cart]="cart"></app-product-quantity>
                    </td>
                    <td class="text-center">{{item.totalPrice | currency:'USD': true}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center">{{cart.totalPrice | currency:'USD':true}}</th>
                </tr>
            </tfoot>
        </table>
        <button mat-flat-button color ="primary" *ngIf="cart.items.length" routerLink="/check-out" class="btn">Check Out</button>
    </div>
</div>
